

<%- include("./partials/header")  %>

<h1>Welcome </h1>


<p><%=name%></p>
<div class="container ">
    <a href="./mathapp2"><div class="thumb">math</div></a>
     <a href="./memory"> <div class="thumb">memory</div></a>
     <a href="./memory2"> <div class="thumb">memory2</div></a>
     <a href="./memoryblock"> <div class="thumb">memoryblock</div></a>
     <a href="./simon"> <div class="thumb">simon</div></a>
     <a href="./tictactoe"> <div class="thumb">tic</div></a>
     <a href="./tictactoe2"> <div class="thumb">tic 2</div></a>
     <a href="./Todo"> <div class="thumb">TODO</div></a>
     <a href="./mathapp1"> <div class="thumb">mathapp</div></a>
     <a href="./game2048"> <div class="thumb">2048</div></a>
     <a href="./mathgame3"> <div class="thumb">Math app3</div></a>
</div>

   
    









